/* Doris (Lisi) Johnson 6/15/25 */

/* Global Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #d7c7aa;
  color: #926f4f;
  font-size: 16px;
}

/* Header Styles */
header {
  background-color: #00602b; /* Green for Italian vibe */
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #ffffff;
}

/* Heading Styles */
h2, h3 {
  color: #342517;
}

/* Paragraph Styles */
p {
  color: #230e06;
  background-color: #ffffff;
}

/* Highlight Class Styles */
.highlight {
  font-weight: bold;
  color: #ee1e28;
  font-style: italic;
}

/* Special Item Class Styles */
.special-item {
  background-color: #ffffff;
}

/* Footer Styles */
#footer {
  text-align: center;
  color: #ffffff;
  background-color: #bb161d;
}